In [1]:
#This is concise version that includes "Buy_Confidence"

# Import dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as stats
from scipy.stats import linregress
from scipy.stats.stats import pearsonr
import warnings
%matplotlib inline

In [2]:
# Read-in data as Excel file
vix_data_file = "C:/Users/blake/Desktop/clean_stock_data.xlsx"

In [3]:
#Convert Excel file to Dataframe
stock_data_df = pd.read_excel(vix_data_file,
sheet_name=0,
header=1,
index_col=False,
keep_default_na=False
)

In [4]:
#Create new Dataframe, set 'Date' as index, drop column named 'Date' 
time_indexed_stock_df = stock_data_df.set_index(stock_data_df['Date'])
time_indexed_stock_df = time_indexed_stock_df.drop(['Date'], axis=1)
time_indexed_stock_df.head(10)

,PX_LAST_ESA,PX_LAST_1,PX_LAST_2,PX_LAST_3,PX_LAST_4,PX_LAST_5,PX_LAST_6,PX_LAST_7,PX_LAST_8
Date,,,,,,,,,
2009-12-31,1115.10,22.95,25.80,26.00,26.30,26.35,26.30,26.40,26.35
2010-01-01,1132.98,22.10,24.85,25.25,25.75,25.75,25.75,25.85,25.95
2010-01-04,1132.98,22.10,24.85,25.25,25.75,25.75,25.75,25.85,25.95
2010-01-05,1136.52,21.55,24.45,24.85,25.45,25.50,25.50,25.55,25.70
2010-01-06,1137.14,20.80,23.55,24.20,24.95,25.05,25.05,25.10,25.30
2010-01-07,1141.69,20.45,23.15,23.85,24.75,24.85,24.85,24.90,25.10
2010-01-08,1144.98,19.90,22.55,23.40,24.40,24.65,24.60,24.75,24.90
2010-01-11,1146.98,19.50,22.25,23.25,24.15,24.30,24.40,24.50,24.65
2010-01-12,1136.22,20.25,22.80,23.65,24.25,24.45,24.45,24.60,24.75
2010-01-13,1145.68,19.40,22.50,23.45,24.15,24.40,24.40,24.55,24.55

In [5]:
buy_conf_dict = {
    'Date':['2010-01-22', '2010-02-08', '2010-05-07', '2010-05-20', '2010-06-07',
            '2010-06-29', '2011-04-15', '2011-08-15', '2011-08-23', '2011-09-06',
            '2011-09-26', '2011-10-03', '2011-11-02', '2011-11-09', '2011-11-28',
            '2012-05-18', '2012-06-01', '2012-12-31', '2013-06-24', '2013-10-09',
            '2013-10-16', '2014-02-04', '2014-02-06', '2014-03-03', '2014-03-14',
            '2014-04-14', '2014-08-07', '2014-10-14', '2014-10-16', '2014-10-23',
            '2014-12-17', '2015-01-07', '2015-01-15', '2015-01-29', '2015-02-02',
            '2015-06-30', '2015-07-06', '2015-07-10', '2015-08-26', '2015-09-02',
            '2015-09-04', '2015-09-10', '2015-09-29', '2015-11-13', '2015-12-14',
            '2015-12-18', '2016-01-04', '2016-01-11', '2016-01-18', '2016-01-21',
            '2016-02-12', '2016-06-14', '2016-06-28', '2016-11-04', '2017-08-11',
            '2017-08-18', '2018-02-06', '2018-02-09', '2018-03-02', '2018-03-26',
            '2018-03-29', '2018-04-02', '2018-04-10', '2018-04-26', '2018-06-28',
            '2018-10-12', '2018-10-30', '2018-11-15', '2018-11-21', '2018-12-05',
            '2018-12-10', '2018-12-19', '2018-12-25', '2018-12-31', '2019-01-04',
            '2019-01-22', '2019-01-29', '2019-03-08', '2019-03-25', '2019-05-09',
            '2019-05-14', '2019-05-24', '2019-06-04', '2019-08-06', '2019-08-13',
            '2019-08-16', '2019-08-26', '2019-08-28', '2019-09-04'],
    'Buy_Conf':[8, 10, 7, 8, 7,
                9, 9, 2, 3, 3,
                2, 6, 2, 3, 4,
                5, 5, 7, 7, 8,
                5, 9, 9, 5, 7,
                5, 5, 8, 9, 2,
                8, 7, 7, 7, 7,
                5, 5, 7, 7, 8,
                7, 7, 7, 8, 7,
                7, 8, 7, 7, 7,
                7, 7, 10, 9, 7,
                7, 8, 3, 4, 2,
                5, 5, 5, 5, 5,
                3, 4, 3, 4, 2,
                2, 5, 5, 4, 4,
                5, 6, 4, 3, 7,
                7, 3, 2, 8, 7,
                7, 7, 8, 7
               ]
    }

In [6]:
buy_conf_df = pd.DataFrame(buy_conf_dict)
buy_conf_df.count()

Date        89
Buy_Conf    89
dtype: int64

In [7]:
#Create new Dataframe, set 'Date' as index, drop column named 'Date' 
conf_time_indexed_df = buy_conf_df.set_index(buy_conf_df['Date'])
conf_time_indexed_df = conf_time_indexed_df.drop(['Date'], axis=1)
conf_time_indexed_df.head(10)

            Buy_Conf
Date
2010-01-22         8
2010-02-08        10
2010-05-07         7
2010-05-20         8
2010-06-07         7
2010-06-29         9
2011-04-15         9
2011-08-15         2
2011-08-23         3
2011-09-06         3

In [8]:
#Joined Dataframes where index ('Date') matches

vix_joined_buy_conf_df = conf_time_indexed_df.join(time_indexed_stock_df)
vix_joined_buy_conf_df.head(10)
# print(vix_joined_buy_conf_df['PX_LAST_1'][0:29])
# print(vix_joined_buy_conf_df['PX_LAST_1'][30:59])
# print(vix_joined_buy_conf_df['PX_LAST_1'][60:88])
#Some of these original "Erkan Dates" are Nan
#2011-04-16, 2011-09-25, 2012-05-19, 2015-09-05, 2015-11-14, 2015-12-19, 2017-08-12
#vix_joined_buy_conf_df.isna().sum()

#Blake went back and changed dates to true 'trading day'
#New dates (respectively)
#2011-04-15, 2011-09-26, 2012-05-18, 2015-09-04, 2015-11-13, 2015-12-18, 2017-08-11

#Note: Mostly Saturday's (meaning Friday important?)

,Buy_Conf,PX_LAST_ESA,PX_LAST_1,PX_LAST_2,PX_LAST_3,PX_LAST_4,PX_LAST_5,PX_LAST_6,PX_LAST_7,PX_LAST_8
Date,,,,,,,,,,
2010-01-22,8,1091.76,24.75,25.15,25.35,25.40,25.35,25.50,25.35,25.15
2010-02-08,10,1056.74,26.40,26.20,26.30,26.20,26.30,26.35,26.25,26.35
2010-05-07,7,1110.88,32.95,30.95,30.90,30.75,31.10,31.00,30.85,30.80
2010-05-20,8,1071.59,35.95,35.70,34.00,34.30,33.80,33.30,32.90,33.15
2010-06-07,7,1050.47,35.45,34.10,33.15,33.45,33.05,32.75,31.95,32.40
2010-06-29,9,1041.24,33.50,33.45,34.75,34.75,34.25,33.50,34.20,33.80
2011-04-15,9,1319.68,16.75,19.65,21.15,22.05,22.70,23.50,24.20,24.50
2011-08-15,2,1204.49,32.10,26.70,25.95,25.45,24.50,25.70,25.80,25.95
2011-08-23,3,1162.35,34.30,31.75,30.60,28.90,29.90,29.85,29.80,30.05
2011-09-06,3,1165.24,35.75,32.85,31.45,29.85,31.00,31.00,31.20,31.25

In [9]:
#Drop 'Buy_Conf' and 'PX_LAST_ESA ("SPX")' columns
vix_for_conf_dates_df = vix_joined_buy_conf_df.drop(columns=['Buy_Conf', 'PX_LAST_ESA'])

#Calculate Standard Deviation of all (and only) VIX Futures on "Erkan Dates"
std_dev_vix = vix_for_conf_dates_df.std(axis=1)

In [10]:
#Add column of 1/StdDev to joined DataFrame
#Because we want "closer numbers" (lower StdDev) to have "more weight"
vix_joined_buy_conf_df.insert(loc=0, column='1/StdDev', value=1/std_dev_vix)

In [11]:
#Rename columns
vix_joined_buy_conf_df.rename(columns={
    'PX_LAST_ESA': 'SPX',
    'PX_LAST_1': 'VIX_1',
    'PX_LAST_2': 'VIX_2',
    'PX_LAST_3': 'VIX_3',
    'PX_LAST_4': 'VIX_4',
    'PX_LAST_5': 'VIX_5',
    'PX_LAST_6': 'VIX_6',
    'PX_LAST_7': 'VIX_7',
    'PX_LAST_8': 'VIX_8'
})

,1/StdDev,Buy_Conf,SPX,VIX_1,VIX_2,VIX_3,VIX_4,VIX_5,VIX_6,VIX_7,VIX_8
Date,,,,,,,,,,,
2010-01-22,4.264014,8,1091.76,24.750,25.150,25.350,25.400,25.350,25.500,25.350,25.150
2010-02-08,13.719887,10,1056.74,26.400,26.200,26.300,26.200,26.300,26.350,26.250,26.350
2010-05-07,1.368314,7,1110.88,32.950,30.950,30.900,30.750,31.100,31.000,30.850,30.800
2010-05-20,0.877359,8,1071.59,35.950,35.700,34.000,34.300,33.800,33.300,32.900,33.150
2010-06-07,0.918146,7,1050.47,35.450,34.100,33.150,33.450,33.050,32.750,31.950,32.400
2010-06-29,1.841149,9,1041.24,33.500,33.450,34.750,34.750,34.250,33.500,34.200,33.800
2011-04-15,0.384458,9,1319.68,16.750,19.650,21.150,22.050,22.700,23.500,24.200,24.500
2011-08-15,0.427878,2,1204.49,32.100,26.700,25.950,25.450,24.500,25.700,25.800,25.950
2011-08-23,0.593358,3,1162.35,34.300,31.750,30.600,28.900,29.900,29.850,29.800,30.050
2011-09-06,0.556881,3,1165.24,35.750,32.850,31.450,29.850,31.000,31.000,31.200,31.250
2011-09-26,0.575231,2,1162.95,37.500,34.700,32.350,33.300,32.950,32.700,32.800,32.500
2011-10-03,0.280068,6,1099.23,45.050,40.550,36.700,37.050,35.600,35.150,35.300,34.650
2011-11-02,1.270733,2,1237.90,32.700,30.400,31.550,30.750,30.550,30.800,30.650,30.400
2011-11-09,0.671615,3,1229.10,36.450,33.450,34.350,32.950,32.650,32.650,32.250,31.750
2011-11-28,2.072312,4,1192.55,32.000,33.700,33.300,32.950,33.150,32.850,33.000,33.050
2012-05-18,1.362688,5,1295.22,28.200,28.150,28.400,28.850,29.350,29.650,29.400,30.150
2012-06-01,1.182366,5,1278.05,27.750,29.150,29.200,29.500,30.000,30.100,29.850,30.500
2012-12-31,0.505964,7,1426.19,17.700,18.500,19.600,20.400,21.000,21.900,22.750,23.250
2013-06-24,1.335934,7,1573.09,20.150,20.300,20.850,21.000,21.200,21.350,22.000,22.300
2013-10-09,1.352136,8,1656.40,18.850,18.700,18.850,19.400,19.850,20.100,20.400,20.550
2013-10-16,0.730332,5,1721.54,15.550,16.550,17.450,18.050,18.500,18.900,19.250,19.450
2014-02-04,2.413031,9,1755.20,18.650,18.350,18.450,18.600,18.800,19.100,19.300,19.500
2014-02-06,1.218451,9,1773.43,17.000,17.000,17.350,17.800,18.150,18.550,18.850,19.100
2014-03-03,1.107698,5,1845.73,16.600,16.650,17.000,17.500,17.950,18.300,18.700,18.900
2014-03-14,1.546407,7,1841.13,17.700,17.100,17.250,17.650,18.050,18.350,18.650,18.900
2014-04-14,1.327865,5,1830.61,16.200,16.650,16.850,17.250,17.500,17.850,18.200,18.300
2014-08-07,1.262928,5,1909.57,16.650,16.650,16.950,17.300,17.400,18.000,18.450,18.700
2014-10-14,1.883974,8,1877.70,20.900,19.750,19.150,19.350,19.600,19.700,19.950,20.050
2014-10-16,1.430658,9,1862.76,22.300,21.050,20.150,20.200,20.350,20.450,20.650,20.650
2014-10-23,1.336359,2,1950.82,17.300,17.300,17.950,18.400,18.550,18.900,19.050,19.200
...,...,...,...,...,...,...,...,...,...,...,...
2018-03-26,3.024951,2,2658.55,19.325,18.625,18.275,18.425,18.325,18.475,18.700,18.550
2018-03-29,3.307391,5,2640.87,19.775,19.225,18.825,19.000,18.875,19.025,19.300,19.100
2018-04-02,1.431067,5,2581.88,21.425,20.025,19.375,19.525,19.375,19.425,19.625,19.450
2018-04-10,2.874480,5,2656.87,20.175,19.425,19.075,19.275,19.125,19.325,19.625,19.425
2018-04-26,2.129470,5,2666.94,16.875,17.025,17.325,17.425,17.725,18.125,18.025,17.950
2018-06-28,2.379631,5,2716.31,16.525,16.575,16.825,17.175,17.100,17.025,17.575,17.675
2018-10-12,1.367757,3,2767.13,19.925,18.125,17.575,17.775,17.825,18.025,18.075,18.250
2018-10-30,2.241076,4,2682.63,20.925,20.225,20.325,20.075,19.925,19.700,19.625,19.600
2018-11-15,5.812557,3,2730.20,19.375,19.125,19.475,19.475,19.375,19.125,19.075,19.125
2018-11-21,1.371501,4,2649.93,22.070,20.125,20.375,20.325,20.175,19.925,19.875,19.825
2018-12-05,13.440430,2,2695.95,19.025,19.050,18.975,19.025,18.900,18.900,18.925,19.100
2018-12-10,1.656656,2,2637.72,21.325,20.525,20.175,19.975,19.675,19.575,19.575,19.750
2018-12-19,0.556601,5,2506.96,26.200,22.325,21.925,21.575,21.075,20.875,20.775,20.975
2018-12-25,0.705887,5,2467.70,24.675,22.625,21.625,20.925,20.675,20.625,20.800,20.800
2018-12-31,0.803277,4,2506.85,24.175,22.275,21.575,20.975,20.750,20.550,20.675,20.675
2019-01-04,1.624147,4,2531.94,21.925,21.225,20.875,20.475,20.275,20.175,20.275,20.300
2019-01-22,3.037384,5,2632.90,20.175,19.725,19.325,19.275,19.175,19.325,19.425,19.675
2019-01-29,5.146394,6,2640.00,18.925,18.875,18.675,18.675,18.675,18.825,18.925,19.250
2019-03-08,3.023870,4,2743.07,16.675,16.975,17.225,17.350,17.500,17.500,17.575,17.625
2019-03-25,3.997502,3,2798.36,16.825,17.225,17.375,17.475,17.475,17.525,17.575,17.550
2019-05-09,7.492686,7,2870.72,17.975,17.875,17.775,17.675,17.725,17.775,17.725,17.525
2019-05-14,4.349588,7,2834.41,18.125,18.075,17.925,17.725,17.725,17.725,17.675,17.425
2019-05-24,2.698662,3,2826.06,16.725,17.325,17.425,17.625,17.675,17.725,17.450,17.975
2019-06-04,4.831088,2,2803.27,17.225,17.675,17.675,17.725,17.725,17.675,17.375,17.850
2019-08-06,1.799815,8,2881.77,19.675,19.425,18.925,18.525,18.050,18.475,18.500,18.375
2019-08-13,4.237017,7,2926.32,18.125,18.475,18.350,18.125,17.675,18.075,18.075,18.025
2019-08-16,2.991083,7,2888.68,18.775,19.325,19.175,18.875,18.325,18.675,18.625,18.500
2019-08-26,4.484666,7,2878.38,19.425,19.425,19.075,18.725,19.175,19.225,19.125,19.250
2019-08-28,5.045250,8,2887.94,19.375,19.625,19.325,18.925,19.325,19.375,19.175,19.275
2019-09-04,3.280271,7,2937.78,18.075,18.675,18.675,18.400,18.875,18.975,18.825,18.925

In [12]:
vix_joined_buy_conf_df.describe()

,1/StdDev,Buy_Conf,PX_LAST_ESA,PX_LAST_1,PX_LAST_2,PX_LAST_3,PX_LAST_4,PX_LAST_5,PX_LAST_6,PX_LAST_7,PX_LAST_8
count,89.000000,89.000000,89.000000,89.000000,89.000000,89.000000,89.000000,89.000000,89.000000,89.000000,89.000000
mean,2.232762,5.898876,2079.124494,22.424101,21.641292,21.493820,21.469663,21.517697,21.625562,21.731180,21.836798
std,2.203106,2.137569,587.695192,6.144478,5.405638,5.081045,4.953781,4.872683,4.758185,4.688347,4.640124
min,0.280068,2.000000,1041.240000,14.975000,15.125000,15.375000,15.325000,15.725000,16.525000,16.925000,17.250000
25%,1.107698,4.000000,1773.430000,18.125000,18.275000,18.150000,18.300000,18.150000,18.475000,18.675000,18.900000
50%,1.546407,7.000000,2021.250000,20.175000,19.650000,19.600000,19.775000,19.850000,19.875000,19.950000,20.050000
75%,2.791291,7.000000,2649.930000,24.750000,22.675000,22.225000,22.325000,22.675000,22.775000,22.775000,22.825000
max,13.719887,10.000000,2937.780000,45.050000,40.550000,36.700000,37.050000,35.600000,35.150000,35.300000,34.650000