In [1]:
# Import dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
# import scipy.stats as stats
# from scipy.stats import linregress
# from scipy.stats.stats import pearsonr
import warnings
%matplotlib inline

In [2]:
# Read-in data as Excel file
vix_data_file = "C:/Users/blake/Desktop/spx_vix_clean.xlsx"

In [3]:
#Convert Excel file to Dataframe
stock_data_df = pd.read_excel(vix_data_file,
sheet_name=0,
header=1,
index_col=False,
keep_default_na=False
)

In [4]:
stock_data_df.head()

,Date,SPX,VIX_1,VIX_2,VIX_3,VIX_4,VIX_5,VIX_6,VIX_7,VIX_8,stdev,1/stdev,SPX_VOLUME,SPX_5day,SPX_tom,A_Delta
0,2009-12-31,1115.10,22.95,25.80,26.00,26.30,26.35,26.30,26.40,26.35,1.172737,0.852706,636905,NaN,1132.98,17.88
1,2010-01-01,1132.98,22.10,24.85,25.25,25.75,25.75,25.75,25.85,25.95,1.287977,0.776412,636905,NaN,1132.98,0.00
2,2010-01-04,1132.98,22.10,24.85,25.25,25.75,25.75,25.75,25.85,25.95,1.287977,0.776412,1282633,NaN,1136.52,3.54
3,2010-01-05,1136.52,21.55,24.45,24.85,25.45,25.50,25.50,25.55,25.70,1.386655,0.721160,1368386,NaN,1137.14,0.62
4,2010-01-06,1137.14,20.80,23.55,24.20,24.95,25.05,25.05,25.10,25.30,1.511385,0.661645,1252015,1130.944,1141.69,4.55

In [5]:
#Create new Dataframe, set 'Date' as index, drop column named 'Date' 
time_indexed_stock_df = stock_data_df.set_index(stock_data_df['Date'])
time_indexed_stock_df = time_indexed_stock_df.drop(['Date'], axis=1)
time_indexed_stock_df.head()

,SPX,VIX_1,VIX_2,VIX_3,VIX_4,VIX_5,VIX_6,VIX_7,VIX_8,stdev,1/stdev,SPX_VOLUME,SPX_5day,SPX_tom,A_Delta
Date,,,,,,,,,,,,,,,
2009-12-31,1115.10,22.95,25.80,26.00,26.30,26.35,26.30,26.40,26.35,1.172737,0.852706,636905,NaN,1132.98,17.88
2010-01-01,1132.98,22.10,24.85,25.25,25.75,25.75,25.75,25.85,25.95,1.287977,0.776412,636905,NaN,1132.98,0.00
2010-01-04,1132.98,22.10,24.85,25.25,25.75,25.75,25.75,25.85,25.95,1.287977,0.776412,1282633,NaN,1136.52,3.54
2010-01-05,1136.52,21.55,24.45,24.85,25.45,25.50,25.50,25.55,25.70,1.386655,0.721160,1368386,NaN,1137.14,0.62
2010-01-06,1137.14,20.80,23.55,24.20,24.95,25.05,25.05,25.10,25.30,1.511385,0.661645,1252015,1130.944,1141.69,4.55

In [6]:
#Drop NaN rows
spx_5day_df = time_indexed_stock_df.dropna()
spx_5day_df.head()

,SPX,VIX_1,VIX_2,VIX_3,VIX_4,VIX_5,VIX_6,VIX_7,VIX_8,stdev,1/stdev,SPX_VOLUME,SPX_5day,SPX_tom,A_Delta
Date,,,,,,,,,,,,,,,
2010-01-06,1137.14,20.80,23.55,24.20,24.95,25.05,25.05,25.10,25.30,1.511385,0.661645,1252015,1130.944,1141.69,4.55
2010-01-07,1141.69,20.45,23.15,23.85,24.75,24.85,24.85,24.90,25.10,1.575425,0.634749,1553963,1136.262,1144.98,3.29
2010-01-08,1144.98,19.90,22.55,23.40,24.40,24.65,24.60,24.75,24.90,1.714317,0.583323,1508175,1138.662,1146.98,2.00
2010-01-11,1146.98,19.50,22.25,23.25,24.15,24.30,24.40,24.50,24.65,1.760479,0.568027,1444997,1141.462,1136.22,-10.76
2010-01-12,1136.22,20.25,22.80,23.65,24.25,24.45,24.45,24.60,24.75,1.513511,0.660716,2089364,1141.402,1145.68,9.46

In [7]:
output_df = spx_5day_df.filter(['SPX_tom', 'A_Delta'], axis=1)
output_df.head()

            SPX_tom  A_Delta
Date
2010-01-06  1141.69     4.55
2010-01-07  1144.98     3.29
2010-01-08  1146.98     2.00
2010-01-11  1136.22   -10.76
2010-01-12  1145.68     9.46

In [8]:
#Create list
#If "actual delta" > 0 (meaning tomorrow's price is higher than today's price)
#Assign "Buy" = 1, "Don't Buy" = 0
result_list = []
for i in range(0, len(output_df['A_Delta'])):
    if output_df['A_Delta'][i] > 0:
        result_list.append(1)
    else:
        result_list.append(0)

print(result_list[:10])

[1, 1, 1, 0, 1, 1, 0, 1, 0, 0]

In [9]:
#Create Numpy array of list and prepare for "y-train" "y-test"

y_train_data = np.asarray(result_list[:2048])
y_test_data = np.asarray(result_list[2048:])
print(y_train_data.shape)
#Reshape array for later ML model
# y_train = y_train_data.reshape(-1, 1)
# y_test = y_test_data.reshape(-1,1)
y_train = y_train_data
y_test = y_test_data

print(y_train.shape)
print(y_test.shape)
y_train

(2048,)
(2048,)
(475,)

array([1, 1, 1, ..., 0, 0, 1])

In [10]:
output_df['Act_Result'] = result_list
output_df.head()

            SPX_tom  A_Delta  Act_Result
Date
2010-01-06  1141.69     4.55           1
2010-01-07  1144.98     3.29           1
2010-01-08  1146.98     2.00           1
2010-01-11  1136.22   -10.76           0
2010-01-12  1145.68     9.46           1

In [11]:
spx_5day_df = spx_5day_df.drop(columns=['stdev','SPX_tom', 'A_Delta'])

In [12]:
spx_5day_df.head()

,SPX,VIX_1,VIX_2,VIX_3,VIX_4,VIX_5,VIX_6,VIX_7,VIX_8,1/stdev,SPX_VOLUME,SPX_5day
Date,,,,,,,,,,,,
2010-01-06,1137.14,20.80,23.55,24.20,24.95,25.05,25.05,25.10,25.30,0.661645,1252015,1130.944
2010-01-07,1141.69,20.45,23.15,23.85,24.75,24.85,24.85,24.90,25.10,0.634749,1553963,1136.262
2010-01-08,1144.98,19.90,22.55,23.40,24.40,24.65,24.60,24.75,24.90,0.583323,1508175,1138.662
2010-01-11,1146.98,19.50,22.25,23.25,24.15,24.30,24.40,24.50,24.65,0.568027,1444997,1141.462
2010-01-12,1136.22,20.25,22.80,23.65,24.25,24.45,24.45,24.60,24.75,0.660716,2089364,1141.402

In [13]:
X_data = spx_5day_df.to_numpy()
print("X-Dim Total:")
print(X_data.shape[0])
print(X_data.shape[1])

X-Dim Total:
2523
12

In [14]:
train_df = spx_5day_df[:2048] 
test_df = spx_5day_df[2048:]

In [15]:

train_data = train_df.to_numpy()
print("x-train Dimensions:")
print(train_data.shape[0])
print(train_data.shape[1])
print("")

test_data = test_df.to_numpy()
print("x-test Dimensions:")
print(test_data.shape[0])
print(test_data.shape[1])
print("Note: Before Reshaping")

x-train Dimensions:
2048
12

x-test Dimensions:
475
12
Note: Before Reshaping

In [16]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler(feature_range=(0,1))
train_data = scaler.fit_transform(train_data)
test_data = scaler.fit_transform(test_data)

In [17]:
# #julia
# from sklearn.preprocessing import MinMaxScaler
# scaler = MinMaxScaler(feature_range=(0,1))
# X_scaled = scaler.fit_transform(train_data)


x_train = train_data.reshape(train_data.shape[0], 1,train_data.shape[1])
print(x_train.shape)

(2048, 1, 12)

In [18]:
x_test = test_data.reshape(test_data.shape[0], 1, test_data.shape[1])
print(x_test.shape)
print(x_test)

(475, 1, 12)
[[[0.34640465 0.08571429 0.08708709 ... 0.02732945 0.21578845 0.26306863]]

 [[0.33755706 0.1037037  0.08108108 ... 0.0276427  0.32874595 0.25902771]]

 [[0.31643844 0.14603175 0.11111111 ... 0.03360668 0.39876647 0.24881038]]

 ...

 [[0.8694647  0.35873016 0.44144144 ... 0.23297416 0.26029304 0.834559  ]]

 [[0.92610706 0.32486772 0.41441441 ... 0.14161645 0.3494238  0.85221272]]

 [[0.9301233  0.29312169 0.38438438 ... 0.09814865 0.24522009 0.87015141]]]

In [19]:
from tensorflow.keras.models import Sequential
model = Sequential()

In [20]:
from tensorflow.keras.layers import LSTM

model.add(LSTM(32, input_shape=(x_train.shape[1], x_train.shape[2])))

WARNING: Logging before flag parsing goes to stderr.
W0929 14:51:48.941231 11868 deprecation.py:506] From C:\Users\blake\Anaconda3\lib\site-packages\tensorflow\python\ops\init_ops.py:1251: calling VarianceScaling.__init__ (from tensorflow.python.ops.init_ops) with dtype is deprecated and will be removed in a future version.
Instructions for updating:
Call initializer instance with the dtype argument instead of passing it to the constructor

In [21]:
from tensorflow.keras.layers import Dense, Activation
model.add(Dense(1, activation='sigmoid'))
#model.add(Activation('sigmoid'))

In [22]:
print(model.summary())

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
lstm (LSTM)                  (None, 32)                5760
_________________________________________________________________
dense (Dense)                (None, 1)                 33
=================================================================
Total params: 5,793
Trainable params: 5,793
Non-trainable params: 0
_________________________________________________________________
None

In [23]:
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

W0929 14:51:50.391041 11868 deprecation.py:323] From C:\Users\blake\Anaconda3\lib\site-packages\tensorflow\python\ops\nn_impl.py:180: add_dispatch_support.<locals>.wrapper (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where

In [24]:
print(model.summary())

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
lstm (LSTM)                  (None, 32)                5760
_________________________________________________________________
dense (Dense)                (None, 1)                 33
=================================================================
Total params: 5,793
Trainable params: 5,793
Non-trainable params: 0
_________________________________________________________________
None

In [25]:
# # Fit (train) the model
# model.fit(
#     x_train,
#     y_train_categorical,
#     epochs=1000,
#     shuffle=True,
#     verbose=2
# )

In [26]:
model.fit(x_train, y_train, shuffle=False, epochs=100, batch_size=1)

Epoch 1/100
2048/2048 [==============================] - 9s 4ms/sample - loss: 0.6930 - acc: 0.5229
Epoch 2/100
2048/2048 [==============================] - 7s 4ms/sample - loss: 0.6927 - acc: 0.5234
Epoch 3/100
2048/2048 [==============================] - 7s 3ms/sample - loss: 0.6924 - acc: 0.5200
Epoch 4/100
2048/2048 [==============================] - 7s 4ms/sample - loss: 0.6921 - acc: 0.5200
Epoch 5/100
2048/2048 [==============================] - 7s 3ms/sample - loss: 0.6920 - acc: 0.5229
Epoch 6/100
2048/2048 [==============================] - 7s 3ms/sample - loss: 0.6918 - acc: 0.5259
Epoch 7/100
2048/2048 [==============================] - 7s 3ms/sample - loss: 0.6917 - acc: 0.5249
Epoch 8/100
2048/2048 [==============================] - 7s 4ms/sample - loss: 0.6915 - acc: 0.5303
Epoch 9/100
2048/2048 [==============================] - 7s 4ms/sample - loss: 0.6914 - acc: 0.5254
Epoch 10/100
2048/2048 [==============================] - 7s 4ms/sample - loss: 0.6912 - acc: 0.5283
Epoch 11/100
2048/2048 [==============================] - 7s 3ms/sample - loss: 0.6910 - acc: 0.5278
Epoch 12/100
2048/2048 [==============================] - 7s 4ms/sample - loss: 0.6908 - acc: 0.5312
Epoch 13/100
2048/2048 [==============================] - 7s 3ms/sample - loss: 0.6905 - acc: 0.5342
Epoch 14/100
2048/2048 [==============================] - 7s 3ms/sample - loss: 0.6903 - acc: 0.5405
Epoch 15/100
2048/2048 [==============================] - 7s 4ms/sample - loss: 0.6901 - acc: 0.5439
Epoch 16/100
2048/2048 [==============================] - 7s 4ms/sample - loss: 0.6899 - acc: 0.5449
Epoch 17/100
2048/2048 [==============================] - 7s 3ms/sample - loss: 0.6897 - acc: 0.5464
Epoch 18/100
2048/2048 [==============================] - 7s 4ms/sample - loss: 0.6896 - acc: 0.5479
Epoch 19/100
2048/2048 [==============================] - 7s 4ms/sample - loss: 0.6894 - acc: 0.5474
Epoch 20/100
2048/2048 [==============================] - 7s 4ms/sample - loss: 0.6893 - acc: 0.5459
Epoch 21/100
2048/2048 [==============================] - 7s 4ms/sample - loss: 0.6892 - acc: 0.5479
Epoch 22/100
2048/2048 [==============================] - 7s 3ms/sample - loss: 0.6890 - acc: 0.5508
Epoch 23/100
2048/2048 [==============================] - 7s 4ms/sample - loss: 0.6890 - acc: 0.5522
Epoch 24/100
2048/2048 [==============================] - 7s 4ms/sample - loss: 0.6889 - acc: 0.5532
Epoch 25/100
2048/2048 [==============================] - 7s 3ms/sample - loss: 0.6888 - acc: 0.5527
Epoch 26/100
2048/2048 [==============================] - 7s 3ms/sample - loss: 0.6888 - acc: 0.5527
Epoch 27/100
2048/2048 [==============================] - 7s 4ms/sample - loss: 0.6887 - acc: 0.5542
Epoch 28/100
2048/2048 [==============================] - 7s 3ms/sample - loss: 0.6887 - acc: 0.5537
Epoch 29/100
2048/2048 [==============================] - 7s 3ms/sample - loss: 0.6886 - acc: 0.5552
Epoch 30/100
2048/2048 [==============================] - 7s 4ms/sample - loss: 0.6886 - acc: 0.5552
Epoch 31/100
2048/2048 [==============================] - 7s 3ms/sample - loss: 0.6886 - acc: 0.5562
Epoch 32/100
2048/2048 [==============================] - 7s 3ms/sample - loss: 0.6885 - acc: 0.5557
Epoch 33/100
2048/2048 [==============================] - 7s 3ms/sample - loss: 0.6885 - acc: 0.5547
Epoch 34/100
2048/2048 [==============================] - 7s 3ms/sample - loss: 0.6885 - acc: 0.5537
Epoch 35/100
2048/2048 [==============================] - 7s 3ms/sample - loss: 0.6884 - acc: 0.5527
Epoch 36/100
2048/2048 [==============================] - 7s 3ms/sample - loss: 0.6884 - acc: 0.5527
Epoch 37/100
2048/2048 [==============================] - 7s 4ms/sample - loss: 0.6884 - acc: 0.5527
Epoch 38/100
2048/2048 [==============================] - 7s 3ms/sample - loss: 0.6884 - acc: 0.5522
Epoch 39/100
2048/2048 [==============================] - 7s 3ms/sample - loss: 0.6883 - acc: 0.5527
Epoch 40/100
2048/2048 [==============================] - 8s 4ms/sample - loss: 0.6883 - acc: 0.5537
Epoch 41/100
2048/2048 [==============================] - 8s 4ms/sample - loss: 0.6883 - acc: 0.5537
Epoch 42/100
2048/2048 [==============================] - 7s 3ms/sample - loss: 0.6882 - acc: 0.5537
Epoch 43/100
2048/2048 [==============================] - 7s 4ms/sample - loss: 0.6882 - acc: 0.5537
Epoch 44/100
2048/2048 [==============================] - 7s 4ms/sample - loss: 0.6882 - acc: 0.5532
Epoch 45/100
2048/2048 [==============================] - 7s 4ms/sample - loss: 0.6881 - acc: 0.5542
Epoch 46/100
2048/2048 [==============================] - 7s 3ms/sample - loss: 0.6881 - acc: 0.5557
Epoch 47/100
2048/2048 [==============================] - 7s 3ms/sample - loss: 0.6880 - acc: 0.5557
Epoch 48/100
2048/2048 [==============================] - 7s 4ms/sample - loss: 0.6880 - acc: 0.5562
Epoch 49/100
2048/2048 [==============================] - 7s 3ms/sample - loss: 0.6880 - acc: 0.5557
Epoch 50/100
2048/2048 [==============================] - 7s 3ms/sample - loss: 0.6879 - acc: 0.5547
Epoch 51/100
2048/2048 [==============================] - 7s 3ms/sample - loss: 0.6879 - acc: 0.5552
Epoch 52/100
2048/2048 [==============================] - 7s 4ms/sample - loss: 0.6879 - acc: 0.5542
Epoch 53/100
2048/2048 [==============================] - 7s 4ms/sample - loss: 0.6878 - acc: 0.5532
Epoch 54/100
2048/2048 [==============================] - 7s 4ms/sample - loss: 0.6878 - acc: 0.5532
Epoch 55/100
2048/2048 [==============================] - 7s 4ms/sample - loss: 0.6877 - acc: 0.5522
Epoch 56/100
2048/2048 [==============================] - 7s 4ms/sample - loss: 0.6877 - acc: 0.5522
Epoch 57/100
2048/2048 [==============================] - 7s 4ms/sample - loss: 0.6877 - acc: 0.5532
Epoch 58/100
2048/2048 [==============================] - 7s 4ms/sample - loss: 0.6876 - acc: 0.5527
Epoch 59/100
2048/2048 [==============================] - 7s 3ms/sample - loss: 0.6876 - acc: 0.5522
Epoch 60/100
2048/2048 [==============================] - 7s 4ms/sample - loss: 0.6876 - acc: 0.5527
Epoch 61/100
2048/2048 [==============================] - 7s 4ms/sample - loss: 0.6875 - acc: 0.5513
Epoch 62/100
2048/2048 [==============================] - 7s 4ms/sample - loss: 0.6875 - acc: 0.5518
Epoch 63/100
2048/2048 [==============================] - 7s 4ms/sample - loss: 0.6875 - acc: 0.5513
Epoch 64/100
2048/2048 [==============================] - 7s 4ms/sample - loss: 0.6874 - acc: 0.5522
Epoch 65/100
2048/2048 [==============================] - 7s 4ms/sample - loss: 0.6874 - acc: 0.5522
Epoch 66/100
2048/2048 [==============================] - 7s 4ms/sample - loss: 0.6874 - acc: 0.5522
Epoch 67/100
2048/2048 [==============================] - 7s 4ms/sample - loss: 0.6873 - acc: 0.5518
Epoch 68/100
2048/2048 [==============================] - 7s 4ms/sample - loss: 0.6873 - acc: 0.5527
Epoch 69/100
2048/2048 [==============================] - 7s 4ms/sample - loss: 0.6873 - acc: 0.5537
Epoch 70/100
2048/2048 [==============================] - 7s 4ms/sample - loss: 0.6872 - acc: 0.5537
Epoch 71/100
2048/2048 [==============================] - 8s 4ms/sample - loss: 0.6872 - acc: 0.5532
Epoch 72/100
2048/2048 [==============================] - 8s 4ms/sample - loss: 0.6872 - acc: 0.5542
Epoch 73/100
2048/2048 [==============================] - 7s 4ms/sample - loss: 0.6872 - acc: 0.5522
Epoch 74/100
2048/2048 [==============================] - 8s 4ms/sample - loss: 0.6871 - acc: 0.5518
Epoch 75/100
2048/2048 [==============================] - 7s 4ms/sample - loss: 0.6871 - acc: 0.5522
Epoch 76/100
2048/2048 [==============================] - 8s 4ms/sample - loss: 0.6871 - acc: 0.5527
Epoch 77/100
2048/2048 [==============================] - 8s 4ms/sample - loss: 0.6870 - acc: 0.5518
Epoch 78/100
2048/2048 [==============================] - 8s 4ms/sample - loss: 0.6870 - acc: 0.5527
Epoch 79/100
2048/2048 [==============================] - 8s 4ms/sample - loss: 0.6870 - acc: 0.5522
Epoch 80/100
2048/2048 [==============================] - 7s 4ms/sample - loss: 0.6869 - acc: 0.5522
Epoch 81/100
2048/2048 [==============================] - 8s 4ms/sample - loss: 0.6869 - acc: 0.5493
Epoch 82/100

2048/2048 [==============================] - 7s 3ms/sample - loss: 0.6869 - acc: 0.5498
Epoch 83/100
2048/2048 [==============================] - 7s 3ms/sample - loss: 0.6869 - acc: 0.5498
Epoch 84/100
2048/2048 [==============================] - 7s 4ms/sample - loss: 0.6868 - acc: 0.5493
Epoch 85/100
2048/2048 [==============================] - 7s 3ms/sample - loss: 0.6868 - acc: 0.5493
Epoch 86/100
2048/2048 [==============================] - 7s 3ms/sample - loss: 0.6868 - acc: 0.5493
Epoch 87/100
2048/2048 [==============================] - 7s 3ms/sample - loss: 0.6868 - acc: 0.5498
Epoch 88/100
2048/2048 [==============================] - 7s 3ms/sample - loss: 0.6867 - acc: 0.5503
Epoch 89/100
2048/2048 [==============================] - 7s 3ms/sample - loss: 0.6867 - acc: 0.5498
Epoch 90/100
2048/2048 [==============================] - 7s 3ms/sample - loss: 0.6867 - acc: 0.5493
Epoch 91/100
2048/2048 [==============================] - 8s 4ms/sample - loss: 0.6867 - acc: 0.5479
Epoch 92/100
2048/2048 [==============================] - 10s 5ms/sample - loss: 0.6867 - acc: 0.5483
Epoch 93/100
2048/2048 [==============================] - 8s 4ms/sample - loss: 0.6866 - acc: 0.5488
Epoch 94/100
2048/2048 [==============================] - 9s 4ms/sample - loss: 0.6866 - acc: 0.5493
Epoch 95/100
2048/2048 [==============================] - 8s 4ms/sample - loss: 0.6866 - acc: 0.5488
Epoch 96/100
2048/2048 [==============================] - 8s 4ms/sample - loss: 0.6866 - acc: 0.5503
Epoch 97/100
2048/2048 [==============================] - 8s 4ms/sample - loss: 0.6865 - acc: 0.5498
Epoch 98/100
2048/2048 [==============================] - 8s 4ms/sample - loss: 0.6865 - acc: 0.5508
Epoch 99/100
2048/2048 [==============================] - 8s 4ms/sample - loss: 0.6865 - acc: 0.5503
Epoch 100/100
2048/2048 [==============================] - 8s 4ms/sample - loss: 0.6865 - acc: 0.5503

In [27]:
# history = model.fit(X, y, batch_size=1, epochs=100, verbose=0)

In [28]:
predictions = model.predict_classes(x_test, verbose=0)

In [32]:
from sklearn.metrics import mean_squared_error, r2_score
r2 = r2_score(y_test, predictions)
r2

-0.9237601250532896

In [33]:
predicted_df = output_df[2048:].copy()

predicted_df['Predicted_tomorrow']=predictions

predicted_df.head(20)

            SPX_tom  A_Delta  Act_Result  Predicted_tomorrow
Date
2017-11-13  2578.87    -5.97           0                   0
2017-11-14  2564.62   -14.25           0                   1
2017-11-15  2585.64    21.02           1                   1
2017-11-16  2578.85    -6.79           0                   1
2017-11-17  2582.14     3.29           1                   1

In [37]:
final_df = predicted_df.join(spx_5day_df)
final_df.head()

,SPX_tom,A_Delta,Act_Result,Predicted_tomorrow,SPX,VIX_1,VIX_2,VIX_3,VIX_4,VIX_5,VIX_6,VIX_7,VIX_8,1/stdev,SPX_VOLUME,SPX_5day
Date,,,,,,,,,,,,,,,,
2017-11-13,2578.87,-5.97,0,0,2584.84,11.625,12.775,13.925,14.725,15.375,15.925,16.375,16.725,0.556265,1044536,2587.356
2017-11-14,2564.62,-14.25,0,1,2578.87,12.050,12.675,14.000,14.825,15.475,16.075,16.525,16.925,0.560414,1573219,2585.002
2017-11-15,2585.64,21.02,1,1,2564.62,13.050,13.175,14.325,15.075,15.725,16.275,16.775,17.125,0.639414,1900941,2579.050
2017-11-16,2578.85,-6.79,0,1,2585.64,12.675,13.975,14.775,15.425,15.975,16.475,16.875,17.350,0.636125,1512201,2579.254
2017-11-17,2582.14,3.29,1,1,2578.85,12.625,13.875,14.700,15.325,15.925,16.375,16.775,17.300,0.637253,1169730,2578.564

In [38]:
#Calc profit
#Note: only strategy is LONG
pr=0
prt=[]
prt.append(0)
totpr=0
buy=0
sell=0
c_df=final_df["SPX"]
sig_df=final_df["Predicted_tomorrow"]
for i in range(1,len(c_df)):
  if (sig_df[i-1]==0 and sig_df[i]==1):
      buy=1;
      bp=c_df[i];
  if (sig_df[i-1]==1 and sig_df[i]==0):
      sp=c_df[i];
      if (buy==1):
          pr=sp-bp;
          buy=0;
          totpr+=pr
  prt.append(totpr)
print(prt)

[0, 0, 0, 0, 0, 3.269999999999982, 3.269999999999982, 1.319999999999709, 1.319999999999709, 1.319999999999709, 1.319999999999709, 1.319999999999709, 1.319999999999709, 1.319999999999709, 1.319999999999709, 1.319999999999709, 1.319999999999709, 1.319999999999709, 1.319999999999709, 1.319999999999709, 1.319999999999709, 38.38999999999987, 38.38999999999987, 38.38999999999987, 38.38999999999987, 38.38999999999987, 38.38999999999987, 38.38999999999987, 38.38999999999987, 38.38999999999987, 38.38999999999987, 38.38999999999987, 38.38999999999987, 38.38999999999987, 38.38999999999987, 38.38999999999987, 60.58999999999969, 60.58999999999969, 60.58999999999969, 60.58999999999969, 95.23999999999978, 95.23999999999978, 95.23999999999978, 95.23999999999978, 95.23999999999978, 95.23999999999978, 95.23999999999978, 95.23999999999978, 95.23999999999978, 95.23999999999978, 95.23999999999978, 95.23999999999978, 95.23999999999978, 95.23999999999978, 95.23999999999978, 95.23999999999978, 95.23999999999978, 95.23999999999978, 95.23999999999978, 95.23999999999978, 95.23999999999978, 95.23999999999978, 95.23999999999978, 95.23999999999978, 95.23999999999978, 95.23999999999978, 95.23999999999978, 95.23999999999978, 95.23999999999978, 95.23999999999978, 95.23999999999978, 95.23999999999978, 95.23999999999978, 95.23999999999978, 95.23999999999978, 123.54999999999973, 123.54999999999973, 123.54999999999973, 123.54999999999973, 123.54999999999973, 123.54999999999973, 123.54999999999973, 123.54999999999973, 123.54999999999973, 123.54999999999973, 162.2899999999995, 162.2899999999995, 146.45999999999958, 146.45999999999958, 146.45999999999958, 146.45999999999958, 146.45999999999958, 146.45999999999958, 146.45999999999958, 146.45999999999958, 146.45999999999958, 146.45999999999958, 146.45999999999958, 146.45999999999958, 146.45999999999958, 146.45999999999958, 146.45999999999958, 146.45999999999958, 146.45999999999958, 146.45999999999958, 146.45999999999958, 146.45999999999958, 146.45999999999958, 146.45999999999958, 146.45999999999958, 146.45999999999958, 139.92999999999938, 139.92999999999938, 139.92999999999938, 139.92999999999938, 139.92999999999938, 139.92999999999938, 139.92999999999938, 139.92999999999938, 139.92999999999938, 139.92999999999938, 139.92999999999938, 139.92999999999938, 139.92999999999938, 139.92999999999938, 139.92999999999938, 139.92999999999938, 139.92999999999938, 169.86999999999944, 169.86999999999944, 169.86999999999944, 169.86999999999944, 180.87999999999965, 180.87999999999965, 180.87999999999965, 180.87999999999965, 180.87999999999965, 180.87999999999965, 175.3499999999999, 175.3499999999999, 175.3499999999999, 175.3499999999999, 175.3499999999999, 175.3499999999999, 220.10999999999967, 220.10999999999967, 220.10999999999967, 220.10999999999967, 220.10999999999967, 220.10999999999967, 220.10999999999967, 234.60999999999967, 234.60999999999967, 234.60999999999967, 234.60999999999967, 234.60999999999967, 234.60999999999967, 239.3399999999997, 239.3399999999997, 244.45999999999958, 244.45999999999958, 244.45999999999958, 244.45999999999958, 244.45999999999958, 244.45999999999958, 244.45999999999958, 240.60999999999922, 240.60999999999922, 240.60999999999922, 240.60999999999922, 264.9599999999991, 264.9599999999991, 264.9599999999991, 289.2299999999991, 289.2299999999991, 289.2299999999991, 289.2299999999991, 289.2299999999991, 289.2299999999991, 289.2299999999991, 289.2299999999991, 289.2299999999991, 289.2299999999991, 306.2699999999991, 306.2699999999991, 290.0499999999988, 290.0499999999988, 287.119999999999, 287.119999999999, 300.2499999999991, 300.2499999999991, 300.2499999999991, 300.2499999999991, 300.2499999999991, 300.2499999999991, 300.2499999999991, 306.9299999999989, 306.9299999999989, 306.9299999999989, 306.9299999999989, 345.6099999999992, 345.6099999999992, 345.6099999999992, 345.6099999999992, 345.6099999999992, 345.6099999999992, 345.6099999999992, 345.6099999999992, 345.6099999999992, 345.6099999999992, 345.6099999999992, 345.6099999999992, 345.6099999999992, 345.6099999999992, 345.6099999999992, 321.6099999999992, 321.6099999999992, 321.6099999999992, 321.6099999999992, 321.6099999999992, 321.6099999999992, 338.0299999999993, 338.0299999999993, 338.0299999999993, 338.0299999999993, 338.0299999999993, 334.21999999999935, 334.21999999999935, 334.21999999999935, 334.21999999999935, 334.21999999999935, 351.6799999999994, 351.6799999999994, 351.6799999999994, 351.6799999999994, 351.6799999999994, 351.6799999999994, 351.6799999999994, 351.6799999999994, 351.6799999999994, 351.6799999999994, 351.6799999999994, 351.6799999999994, 351.6799999999994, 351.6799999999994, 351.6799999999994, 351.6799999999994, 351.6799999999994, 351.6799999999994, 351.6799999999994, 351.6799999999994, 351.6799999999994, 351.6799999999994, 351.6799999999994, 351.6799999999994, 351.6799999999994, 351.6799999999994, 351.6799999999994, 351.6799999999994, 351.6799999999994, 351.6799999999994, 351.6799999999994, 351.6799999999994, 351.6799999999994, 351.6799999999994, 351.6799999999994, 351.6799999999994, 351.6799999999994, 351.6799999999994, 351.6799999999994, 351.6799999999994, 351.6799999999994, 351.6799999999994, 351.6799999999994, 351.6799999999994, 351.6799999999994, 351.6799999999994, 351.6799999999994, 351.6799999999994, 351.6799999999994, 351.6799999999994, 351.6799999999994, 351.6799999999994, 351.6799999999994, 351.6799999999994, 351.6799999999994, 351.6799999999994, 351.6799999999994, 351.6799999999994, 351.6799999999994, 351.6799999999994, 351.6799999999994, 351.6799999999994, 351.6799999999994, 351.6799999999994, 351.6799999999994, 351.6799999999994, 351.6799999999994, 351.6799999999994, 351.6799999999994, 351.6799999999994, 351.6799999999994, 351.6799999999994, 351.6799999999994, 351.6799999999994, 351.6799999999994, 351.6799999999994, 351.6799999999994, 351.6799999999994, 351.6799999999994, 351.6799999999994, 351.6799999999994, 351.6799999999994, 351.6799999999994, 351.6799999999994, 351.6799999999994, 351.6799999999994, 351.6799999999994, 351.6799999999994, 351.6799999999994, 151.03999999999905, 151.03999999999905, 144.94999999999936, 144.94999999999936, 144.94999999999936, 148.69999999999936, 148.69999999999936, 148.69999999999936, 148.69999999999936, 148.69999999999936, 148.69999999999936, 182.72999999999956, 182.72999999999956, 182.72999999999956, 200.51999999999953, 200.51999999999953, 200.51999999999953, 200.51999999999953, 200.51999999999953, 200.51999999999953, 200.51999999999953, 200.51999999999953, 200.51999999999953, 200.51999999999953, 200.51999999999953, 200.51999999999953, 207.54999999999973, 207.54999999999973, 207.54999999999973, 207.54999999999973, 207.54999999999973, 207.54999999999973, 207.54999999999973, 207.54999999999973, 207.54999999999973, 207.54999999999973, 207.54999999999973, 207.54999999999973, 190.41999999999962, 190.41999999999962, 190.41999999999962, 223.2599999999993, 223.2599999999993, 229.2499999999991, 229.2499999999991, 232.2799999999993, 232.2799999999993, 232.2799999999993, 232.2799999999993, 232.2799999999993, 232.2799999999993, 232.2799999999993, 232.2799999999993, 232.2799999999993, 232.2799999999993, 239.79999999999927, 239.79999999999927, 239.79999999999927, 239.79999999999927, 239.79999999999927, 256.6599999999994, 256.6599999999994, 256.6599999999994, 256.6599999999994, 256.6599999999994, 256.6599999999994, 256.6599999999994, 256.6599999999994, 256.6599999999994, 256.6599999999994, 256.6599999999994, 256.6599999999994, 256.6599999999994, 256.6599999999994, 256.6599999999994, 256.6599999999994, 256.6599999999994, 256.6599999999994, 256.6599999999994, 256.6599999999994, 256.6599999999994, 256.6599999999994, 256.6599999999994, 256.6599999999994, 256.6599999999994, 256.6599999999994, 256.6599999999994, 256.6599999999994, 256.6599999999994, 256.6599999999994, 256.6599999999994, 256.6599999999994, 190.66999999999962, 190.66999999999962, 186.00999999999976, 186.00999999999976, 186.00999999999976, 186.00999999999976, 186.00999999999976, 186.00999999999976, 186.00999999999976, 186.00999999999976, 182.40999999999985, 182.40999999999985, 182.40999999999985, 182.40999999999985, 213.65999999999985, 213.65999999999985, 213.65999999999985, 213.65999999999985, 199.19999999999982, 199.19999999999982, 199.19999999999982, 199.19999999999982, 219.89999999999964, 219.89999999999964, 219.89999999999964, 219.89999999999964, 219.89999999999964, 219.89999999999964, 209.8199999999997, 209.8199999999997, 209.8199999999997, 209.8199999999997, 232.00999999999976, 232.00999999999976, 232.00999999999976, 232.00999999999976, 232.00999999999976, 232.00999999999976, 232.00999999999976, 232.00999999999976, 232.00999999999976, 232.00999999999976, 232.00999999999976, 232.00999999999976, 232.00999999999976, 232.00999999999976, 232.00999999999976, 232.00999999999976, 232.00999999999976, 232.00999999999976, 176.0599999999995, 176.0599999999995, 176.0599999999995, 176.0599999999995, 176.0599999999995, 176.0599999999995, 176.0599999999995, 176.0599999999995, 176.0599999999995, 176.0599999999995, 176.0599999999995, 176.0599999999995, 231.8199999999997]

In [41]:
print('LSTM Model total profit:')
print(prt[-1])

LSTM Model total profit:
231.8199999999997

In [42]:
print("Initial investment = $2578.87")
print("Total profit = $231.82")
print("%Gain = 8.99%")

Initial investment = $2578.87
Total profit = $231.82
%Gain = 8.99%