In [1]:
#This is concise version that includes "Buy_Confidence"

# Import dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as stats
from scipy.stats import linregress
from scipy.stats.stats import pearsonr
import warnings
%matplotlib inline

In [5]:
# Read-in data as Excel file
vix_data_file = "C:/Users/blake/Desktop/clean_stock_data.xlsx"

In [6]:
#Convert Excel file to Dataframe
stock_data_df = pd.read_excel(vix_data_file,
sheet_name=0,
header=1,
index_col=False,
keep_default_na=False
)

In [7]:
#Create new Dataframe, set 'Date' as index, drop column named 'Date' 
time_indexed_stock_df = stock_data_df.set_index(stock_data_df['Date'])
time_indexed_stock_df = time_indexed_stock_df.drop(['Date'], axis=1)
time_indexed_stock_df.head(10)

,PX_LAST_ESA,PX_LAST_1,PX_LAST_2,PX_LAST_3,PX_LAST_4,PX_LAST_5,PX_LAST_6,PX_LAST_7,PX_LAST_8
Date,,,,,,,,,
2009-12-31,1115.10,22.95,25.80,26.00,26.30,26.35,26.30,26.40,26.35
2010-01-01,1132.98,22.10,24.85,25.25,25.75,25.75,25.75,25.85,25.95
2010-01-04,1132.98,22.10,24.85,25.25,25.75,25.75,25.75,25.85,25.95
2010-01-05,1136.52,21.55,24.45,24.85,25.45,25.50,25.50,25.55,25.70
2010-01-06,1137.14,20.80,23.55,24.20,24.95,25.05,25.05,25.10,25.30
2010-01-07,1141.69,20.45,23.15,23.85,24.75,24.85,24.85,24.90,25.10
2010-01-08,1144.98,19.90,22.55,23.40,24.40,24.65,24.60,24.75,24.90
2010-01-11,1146.98,19.50,22.25,23.25,24.15,24.30,24.40,24.50,24.65
2010-01-12,1136.22,20.25,22.80,23.65,24.25,24.45,24.45,24.60,24.75
2010-01-13,1145.68,19.40,22.50,23.45,24.15,24.40,24.40,24.55,24.55

In [18]:
buy_conf_dict = {
    'Date':['2010-01-22', '2010-02-08', '2010-05-07', '2010-05-20', '2010-06-07',
            '2010-06-29', '2011-04-16', '2011-08-15', '2011-08-23', '2011-09-06',
            '2011-09-25', '2011-10-03', '2011-11-02', '2011-11-09', '2011-11-28',
            '2012-05-19', '2012-06-01', '2012-12-31', '2013-06-24', '2013-10-09',
            '2013-10-16', '2014-02-04', '2014-02-06', '2014-03-03', '2014-03-14',
            '2014-04-14', '2014-08-07', '2014-10-14', '2014-10-16', '2014-10-23',
            '2014-12-17', '2015-02-04', '2015-02-04', '2015-02-04', '2015-02-04',
            '2015-02-04', '2015-02-04', '2015-02-04',
           
           ],
    'Buy_Conf':[8, 10, 7]
    
}
buy_conf_dict

{'Date': ['2010-01-22', '2010-02-08', '2010-05-07'], 'Buy_Conf': [8, 10, 7]}

In [17]:
buy_conf_df = pd.DataFrame(buy_conf_dict)
buy_conf_df.head()

         Date  Buy_Conf
0  2010-01-22         8
1  2010-02-08        10
2  2010-05-07         7